.detail {
	&-container {
		width: 100%;
		word-wrap: break-word;
		overflow: hidden;
		line-height: 1.5;
	}

	&-content {
		width: 100%;
		background-color: #e0e0e0;
		border: 1px solid #e0e0e0;
		border-radius: 15px;

		&.comment {
			margin-bottom: 2.5rem;
		}
	}

	&-header {
		border-radius: 15px 15px 0 0;
		padding: 20px;
		background-color: #e0e0e0;
		color: #000;

		&.comment {
			padding: 10px 20px;
		}

		.top-status {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		> h2 {
			margin-top: 1rem;
			font-size: 1.2rem;

			@media (min-width: 768px) {
				font-size: 1.5rem;
			}
		}

		.number {
			color: #35459c;
			font-weight: bold;
			margin-right: 1rem;
		}

		.user {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 1rem;

			&-profile {
				display: flex;
				align-items: center;

				img {
					border-radius: 50px;
					width: 2.2rem;
				}

				> a {
					text-decoration: none;
					color: #000;
				}

				.name {
					margin-left: 0.5rem;
					margin-right: 0.5rem;
					font-weight: bold;
				}
			}

			> p {
				margin-top: 0.5rem;
			}

			&.comment {
				margin-top: 0;
			}

			@media (min-width: 768px) {
				flex-direction: row;
				align-items: center;

				> p {
					margin-top: 0;
				}
			}
		}
	}
}

.markdown-body {
	border-radius: 0 0 15px 15px;
	background-color: #11131c;
	padding: 2rem;
	color: #e0e0e0 !important;

	pre,
	.highlight pre {
		color: #000;
	}
}

.comment-section {
	margin-top: 2rem;
	margin-bottom: 2rem;

	h2 {
		margin-bottom: 2rem;
	}
}
