.detail {
	&-container {
		width: 100%;
		word-wrap: break-word;
		overflow: visible;
		line-height: 1.5;
	}

	&-content {
		width: 100%;
	}
}

.markdown-body {
	color: #fff !important;

	pre,
	.highlight pre {
		color: #000;
	}
}
