.input {
	width: 90vw;
	padding: 10px;
	outline: none;
	border: 0;
	border-radius: 10px;
	font-size: 1rem;

	@media (min-width: 468px) {
		width: 80vw;
		padding: 15px;
		border-radius: 15px;
	}

	@media (min-width: 1024px) {
		padding: 20px;
	}
}

.submitButton {
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	background-color: transparent;
	color: #fff;
	font-size: 1.2rem;
	cursor: pointer;

	@media (min-width: 479px) {
		font-size: 1.5rem;
	}
}
